@model AspMVCCRUD.Models.UserLogIn

@{
    ViewData["Title"] = "Log In";
}
<br>
<br>
<div class="background" style="background:linear-gradient(#348F50,#56B4D3);padding:20px;border-radius:10px;">
    <h4>Sign In</h4>

    <div class="row">
        <div class="col-md-4">
            <form asp-action="LogIn">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="name" class="control-label"></label>
                    <input asp-for="name" class="form-control" />
                    <span asp-validation-for="name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="password" class="control-label"></label>
                    <input asp-for="password" type="password" class="form-control" />
                    <span asp-validation-for="password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="LogIn" class="btn btn-default" />
                </div>

            </form>
        </div>

    </div>



</div>
<br />
<div>
    @*<button class="btn-primary" style="border-radius">@Html.ActionLink("Back to Home", "Index", "Home")</button>*@
    <a href="../Home/Index" class="button3">Go to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
