
@{
    ViewData["Title"] = "Admin Home";
}


@*<p >
    sdfsfafsaf
    @Html.ActionLink("Registered student table", "Index", "StudentsLists", null, new { style = "text-decoration:none" })
    @Html.ActionLink("Registered teacher table", "Index", "TeachersLists", null, new { style = "text-decoration:none" })

</p>*@

<p>

    saikasdhaisgdaisudhiasudhaus
</p>
