@{
    ViewData["Title"] = "Home Page";
}
<nav class="navbar navbar-inverse navbar-fixed-top bg-transparent">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">EduSense</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Courses</a></li>
                <li><a asp-area="" asp-controller="UserLogIns" asp-action="LogIn">Sign In</a></li>




                @*<li><a asp-area="" asp-controller="UserLogIns" asp-action="Create">Sign Up</a></li>*@
                <li>


                    <a href="#login_form" id="login_pop">Sign Up</a>

                    <!-- popup form #1 -->
                    <a href="#x" class="overlay" id="login_form"></a>
                    <div class="popup">
                        <h2>Hi!Wanna Learn or Teach?</h2>

                        <div class="wrapper">
                            <button style="padding:5%;margin:3%;background:aqua;text-decoration:none;border-radius:10px;color:black;" class="btn btn-primary">
                                @Html.ActionLink("Sign Up As Teacher", "Create", "TrainerRegs", null, new { style = "text-decoration:none" })
                            </button>
                            


                        </div>
                        <div class="wrapper">
                            <button style="padding:5%;margin:3%;background:aqua;text-decoration:none;border-radius:10px;" class="btn btn-primary">
                                @Html.ActionLink("Sign Up As Student", "Create", "UserLogIns", null, new { style = "text-decoration:none" })
                            </button>
                        </div>
                        @*<input type="button" value="Log In" />*@
                        <a class="close" href="#close"></a>
                    </div>
                </li>


            </ul>
        </div>
    </div>
</nav>



<div class="context">
    <h1>Learn everyday practically!</h1>
</div>


<div class="area">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>








<partial name="_CookieConsentPartial" />