@model IEnumerable<AspMVCCRUD.Models.StudentPage>

@{
    ViewData["Title"] = "Index";

}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<br/>

<p>

    <a href="../TeachersOwnLists/Create">  Create Teachers Own Pages</a>
    <a href="../TeachersOwnLists/Index">View Teachers Own Pages</a>
</p>
<p>
    <a href="../runningCourses/Create">Create running Own cources</a>
    <a href="../runningCourses/Index">View running Own cources</a>
</p>
